<div class="border border-dark p-3 mb-4">
            <% layout('layouts/boilerplate')%>
            <div class="d-flex justify-content-md-center" style="background-color:rgba(0,0,255,.1)">
            <h1><%=category%></h1>
            </div>
            <div class="d-flex justify-content-md-center" style="background-color:rgba(0,0,255,.1)">
            <ul>
                    <% for (let product of products) { %>
                    <li><a href="/products/<%=product._id%>"><%= product.name %></a></li>
                <% }%>  
            </ul>
            </div>
            <hr>
            <div class="d-flex justify-content-md-center">
            <a href="/products/new" class="btn btn-outline-danger">New Products</a>
            <%if(category !== 'All Product') {%>
                <a href="/products" class="btn btn-outline-dark">Products</a>
                <% } %>
            </div>
            </div>
        